body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(160, 100%, 88%);
}
h1{
    color: hsl(209, 60%, 41%);
}
form{
    background-color: hsl(180, 100%, 97%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.3);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 1%, 13%, 0.747);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: hsl(0, 0%, 50%);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px ;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color:hsl(0, 0%, 40% );
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}